{% extends 'base.html.twig' %}

{% block title %}Edit GerechtCategorie{% endblock %}

{% block body %}
    <h1>Edit GerechtCategorie</h1>

    {{ include('gerecht_categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('gerecht_categorie_index') }}">back to list</a>

    {{ include('gerecht_categorie/_delete_form.html.twig') }}
{% endblock %}
